body {
  background: hsl(210, 21%, 30%);
  color: white;
  width: 75vw;
  margin: auto;
  padding: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Roboto Serif', serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: hsl(191, 90%, 86%);
}

td,
th {
  padding: 3px;
  border: solid darkgrey 1px;
}

p {
  font-size: 1.25rem;
}
