body {
  background: whitesmoke;
  color: black;
  width: 75vw;
  margin: auto;
  padding: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  color: #0095dd;
}

thead {
  text-align: left;
  color: #0095dd;
}

td {
  padding: 3px;
  border-bottom: 1px solid #ccc;
}
th {
  padding: 3px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

p {
  font-size: 1.25rem;
}
